.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

audio_prototype/.venv
audio_prototype/__pycache__
audio_prototype/**/__pycache__
webapp/assets/samples/
audio_prototype/assets/clickbath/
webapp/audio/clickbath/
